Test Infrastructure.

<form action="/names" method="post">
  player One : <br>

  <input type="text" name="playerOne"> <br>
  player Two : <br>

  <input type="text" name="playerTwo"> <br>

  <input type="submit" value="Submit">
</form>